#################################################################################


############################# [ OPERATING SYSTEMS ] #############################


########################## [ IDE CONFIGURATION FILES ] ##########################


############################# [ ENVIRONMENT FILES ] #############################


############################## [ BUILD ARTIFACTS ] ##############################


########################### [ COMPILED OUTPUT FILES ] ###########################


############################## [ TEMPORARY FILES ] ##############################


############################## [ QUALITY REPORTS ] ##############################


############################# [ PACKAGED ARCHIVES ] #############################


############################# [ INTEGRATION FILES ] #############################


############################ [ MISCELLANEOUS FILES ] ############################


#################################################################################
